baas/asset-transfer-basic/chaincode-javascript/lib/userManage.js @evathana @zsakellariou

baas/asset-transfer-basic/chaincode-Feds/lib/ @evathana @zsakellariou

baas/asset-transfer-basic/application-javascript/ @evathana @zsakellariou @spolymeni
