<div class="token-input">
  <img alt="IoTFeds logo" src="/img/iotfeds-logo2.png">
  <h1>IoTFeds Voting System</h1>
  <br>
  <h3>Hello! Please enter your voting token</h3>
  <br>


  <br>
  <form action="/inputToken" method="post">
    <div class="posts">
      <label for="token">Token:</label>
      <input type="text" id="token" name="token"><br><br>
      <button type="submit" class="token-btn">Submit token</button>
    </div>
  </form>
</div>
